<html lang="ko">
<head>
    <!-- Webpage Title -->
    <title> JUST WORK OUT </title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@300&family=Playball&family=Yanone+Kaffeesatz&family=Yeon+Sung&display=swap"
          rel="stylesheet">

    <style type="text/css">
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        /*#전체 배경이미지 부분*/
        .Wrap {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/static/bg.jpg");
            background-attachment: fixed;
            padding: 0;
            min-height: 100%;
            background-size: cover;
            overflow: auto;
        }

        /*#상단 홈페이지 소개 문장 부분*/
        .introWrap {
            background-color: lightblue;
            padding: 60px 50px 60px 50px;
            text-align: center;
            opacity: 0.8;
        }

        /*#중간 영어문장 부분*/
        .subtitleWrap {
            color: white;
            font-size: 50px;
            padding: 30px 0px;
            text-align: center;
        }

        /*#스트레칭, 유산소, 근력운동 "메뉴" 부분*/
        .menuWrap {
            text-align: center;
            width: 1000px;
            margin: auto;
        }

        /*#video 나오는 부분*/
        .videoWrap {
            margin: 0 150px;
            padding-bottom: 200px;
            color: black;
            position: center;
        }

        /*#최상단 멘트 부분*/
        .title {
            font-size: 80px;
            color: navy;
            font-weight: bolder;
        }

        /*#메뉴 버튼 디자인*/
        .menuBorder {
            border-color: lightsteelblue;
            border-top-left-radius: .4rem;
            border-top-right-radius: .4rem;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom: 0;
            margin-left: .25rem;
            margin-right: .25rem;
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            background-color: white;
            padding: 30px 40px;
            opacity: 0.6;
        }

        /*#메뉴 바로 아래 '줄' 디자인*/
        .border-info {
            border-color: lightsteelblue;
            padding-top: 50px;
            padding-bottom: 3px;
            text-align: center;
        }

        .card {
            display: flex;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            width: auto;
            text-align: center;
            background-color: whitesmoke;
        }

        .card-columns {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            grid-gap: 1.2rem;
            margin-bottom: 50px;
        }

        .card-title {
            color: darkslateblue;
            margin-bottom: 0;
        }

        .card-text {
            color: lightslategray;
        }

        .card-button {
            border: none;
            outline: 0;
            padding: 15px;
            color: white;
            background-color: darkslateblue;
            opacity: 0.7;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 20px;
        }

        .card-button:hover {
            opacity: 0.7;
        }

        .btnWrap {
            margin-bottom: 20px;
        }

        .btn-group {
            padding: 15px;
        }

        .videoContents {
            display: block;
            width: 500px;
            white-space: nowrap;
            overflow-y: hidden;
            overflow-x: scroll;
            text-overflow: ellipsis;
            text-align: left;
            background-color: lavender;
        }

    </style>

    <script>
        $(document).ready(function () {
            $('#video-box').empty()
            $('.btn-group').hide()
        })

        // 스트레칭 세부 선택사항 보여주기(전신,상체,하체)
        function subStretch() {
            if ($('#subST-box').css('display') == 'grid') {
                $('#subST-box').hide()
                $('#video-box').empty()
                $('.btn-group').hide()
            } else {
                $('#subST-box').show()
                $('#subCardio-box').hide()
                $('#subW-box').hide()
                $('#video-box').empty()
                $('.btn-group').hide()
            }
        }

        // 유산소운동 영상 카드 보여주기
        function subCardio() {
            if ($('#subCardio-box').css('display') == 'grid') {
                $('#subCardio-box').hide()
                $('#video-box').empty()
                $('.btn-group').hide()
            } else {
                $('#subST-box').hide()
                $('#subW-box').hide()
                $('#subCardio-box').show()
                $('#video-box').empty()
                $('.btn-group').hide()
            }
        }

        // 근력운동 세부 선택사항 보여주기(상체,상체,코어,복근,힙)
        function subWeight() {
            if ($('#subW-box').css('display') == 'grid') {
                $('#subW-box').hide()
                $('#video-box').empty()
                $('.btn-group').hide()
            } else {
                $('#subW-box').show()
                $('#subST-box').hide()
                $('#subCardio-box').hide()
                $('#video-box').empty()
                $('.btn-group').hide()
            }
        }

        var pageNo = 1;

        // 전신스트레칭 영상 가져오기
        function showFullbodyST() {
            $('#video-box').empty()
            $('#upperbodySTpage').hide()
            $('#lowerbodySTpage').hide()
            $.ajax({
                    type: "GET",
                    url: `/st/fullbody?page=${pageNo}`,
                    data: {},
                    success: function (response) {
                        let fullbodySTs = response['fullbodyST_list']
                        for (let i = 0; i < fullbodySTs.length; i++) {
                            let fullbodyST = fullbodySTs[i]
                            let url = fullbodyST['videoId']
                            let title = fullbodyST['title']
                            let channelTitle = fullbodyST['channelTitle']
                            let tempHtml = `<div class="card" style="width: 500px; float: left; margin:30px 25px">
                                            <iframe width="500" height="300" src="https://www.youtube.com/embed/${url}" allowfullscreen></iframe>
                                            <div class="card-body videoContents">
                                            <h4 style="font-weight: bold; color: darkslateblue">${title}</h4>
                                            <h5>${channelTitle}</h5>
                                            </div></div>`
                            $('#video-box').append(tempHtml)
                        }
                    }
                }
            )
            $('#fullbodySTpage').show()
        }


        function loadNextFullbodyST() {
            pageNo += 1;
            showFullbodyST();
        }

        function loadPreviousFullbodyST() {
            pageNo -= 1;
            showFullbodyST();
        }


        // 상체스트레칭 영상 가져오기-->
        function showUpperbodyST() {
            $('#video-box').empty()
            $('#upperbodySTpage').show()
            $('#lowerbodySTpage').hide()
            $('#fullbodySTpage').hide()
            $.ajax({
                type: "GET",
                url: `/st/upperbody?page=${pageNo}`,
                data: {},
                success: function (response) {
                    let upperbodySTs = response['upperbodyST_list']
                    for (let i = 0; i < upperbodySTs.length; i++) {
                        let upperbodyST = upperbodySTs[i]
                        let url = upperbodyST['videoId']
                        let title = upperbodyST['title']
                        let channelTitle = upperbodyST['channelTitle']
                        let tempHtml = `<div class="card" style="width: 500px; float: left; margin:30px 25px">
                                        <iframe width="500" height="300" src="https://www.youtube.com/embed/${url}" allowfullscreen></iframe>
                                        <div class="card-body videoContents">
                                        <h4 style="font-weight: bold; color: darkslateblue">${title}</h4>
                                        <h5>${channelTitle}</h5>
                                        </div></div>`
                        $('#video-box').append(tempHtml)
                    }
                }
            })
        }

        function loadNextUpperbodyST() {
            pageNo += 1;
            showUpperbodyST();
        }

        function loadPreviousUpperbodyST() {
            pageNo -= 1;
            showUpperbodyST();
        }

        // 하체스트레칭 영상 가져오기
        function showLowerbodyST() {
            $('#video-box').empty()
            $('#lowerbodySTpage').show()
            $('#fullbodySTpage').hide()
            $('#upperbodySTpage').hide()
            $.ajax({
                type: "GET",
                url: `/st/lowerbody?page=${pageNo}`,
                data: {},
                success: function (response) {
                    let lowerbodySTs = response['lowerbodyST_list']
                    for (let i = 0; i < lowerbodySTs.length; i++) {
                        let lowerbodyST = lowerbodySTs[i]
                        let url = lowerbodyST['videoId']
                        let title = lowerbodyST['title']
                        let channelTitle = lowerbodyST['channelTitle']
                        let tempHtml = `<div class="card" style="width: 500px; float: left; margin:30px 25px">
                                        <iframe width="500" height="300" src="https://www.youtube.com/embed/${url}" allowfullscreen></iframe>
                                        <div class="card-body videoContents">
                                        <h4 style="font-weight: bold; color: darkslateblue">${title}</h4>
                                        <h5>${channelTitle}</h5>
                                        </div></div>`
                        $('#video-box').append(tempHtml)
                    }
                }
            })
        }

        function loadNextLowerbodyST() {
            pageNo += 1;
            showLowerbodyST();
        }

        function loadPreviousLowerbodyST() {
            pageNo -= 1;
            showLowerbodyST();
        }

        // 유산소운동 영상 가져오기
        function showCardio() {
            $('#video-box').empty()
            $('#cardioPage').show()
            $.ajax({
                type: "GET",
                url: `/cardio?page=${pageNo}`,
                data: {},
                success: function (response) {
                    let cardios = response['cardio_list']
                    for (let i = 0; i < cardios.length; i++) {
                        let cardio = cardios[i]
                        let url = cardio['videoId']
                        let title = cardio['title']
                        let channelTitle = cardio['channelTitle']
                        let tempHtml = `<div class="card" style="width: 500px; float: left; margin:30px 25px">
                                        <iframe width="500" height="300" src="https://www.youtube.com/embed/${url}" allowfullscreen></iframe>
                                        <div class="card-body videoContents">
                                        <h4 style="font-weight: bold; color: darkslateblue">${title}</h4>
                                        <h5>${channelTitle}</h5>
                                        </div></div>`
                        $('#video-box').append(tempHtml)
                    }
                }
            })
        }

        function loadNextCardio() {
            pageNo += 1;
            showCardio();
        }

        function loadPreviousCardio() {
            pageNo -= 1;
            showCardio();
        }

        // 상체근력운동 영상 가져오기
        function showUpperbodyW() {
            $('#video-box').empty()
            $('#upperbodyWpage').show()
            $('#lowerbodyWpage').hide()
            $('#coreWpage').hide()
            $('#absWpage').hide()
            $('#hipWpage').hide()

            $.ajax({
                type: "GET",
                url: `/w/upperbody?page=${pageNo}`,
                data: {},
                success: function (response) {
                    let upperbodyWs = response['upperbodyW_list']
                    for (let i = 0; i < upperbodyWs.length; i++) {
                        let upperbodyW = upperbodyWs[i]
                        let url = upperbodyW['videoId']
                        let title = upperbodyW['title']
                        let channelTitle = upperbodyW['channelTitle']
                        let tempHtml = `<div class="card" style="width: 500px; float: left; margin:30px 25px">
                                        <iframe width="500" height="300" src="https://www.youtube.com/embed/${url}" allowfullscreen></iframe>
                                        <div class="card-body videoContents">
                                        <h4 style="font-weight: bold; color: darkslateblue">${title}</h4>
                                        <h5>${channelTitle}</h5>
                                        </div></div>`
                        $('#video-box').append(tempHtml)
                    }
                }
            })
        }

        function loadNextUpperbodyW() {
            pageNo += 1;
            showUpperbodyW();
        }

        function loadPreviousUpperbodyW() {
            pageNo -= 1;
            showUpperbodyW();
        }

        // 하체근력운동 영상 가져오기
        function showLowerbodyW() {
            $('#video-box').empty()
            $('#lowerbodyWpage').show()
            $('#upperbodyWpage').hide()
            $('#coreWpage').hide()
            $('#absWpage').hide()
            $('#hipWpage').hide()
            $.ajax({
                type: "GET",
                url: `/w/lowerbody?page=${pageNo}`,
                data: {},
                success: function (response) {
                    let lowerbodyWs = response['lowerbodyW_list']
                    for (let i = 0; i < lowerbodyWs.length; i++) {
                        let lowerbodyW = lowerbodyWs[i]
                        let url = lowerbodyW['videoId']
                        let title = lowerbodyW['title']
                        let channelTitle = lowerbodyW['channelTitle']
                        let tempHtml = `<div class="card" style="width: 500px; float: left; margin:30px 25px">
                                        <iframe width="500" height="300" src="https://www.youtube.com/embed/${url}" allowfullscreen></iframe>
                                        <div class="card-body videoContents">
                                        <h4 style="font-weight: bold; color: darkslateblue">${title}</h4>
                                        <h5>${channelTitle}</h5>
                                        </div></div>`
                        $('#video-box').append(tempHtml)
                    }
                }
            })
        }

        function loadNextLowerbodyW() {
            pageNo += 1;
            showLowerbodyW();
        }

        function loadPreviousLowerbodyW() {
            pageNo -= 1;
            showLowerbodyW();
        }

        // 코어운동 영상 가져오기
        function showCoreW() {
            $('#video-box').empty()
            $('#coreWpage').show()
            $('#lowerbodyWpage').hide()
            $('#upperbodyWpage').hide()
            $('#absWpage').hide()
            $('#hipWpage').hide()
            $.ajax({
                type: "GET",
                url: `/w/core?page=${pageNo}`,
                data: {},
                success: function (response) {
                    let coreWs = response['coreW_list']
                    for (let i = 0; i < coreWs.length; i++) {
                        let coreW = coreWs[i]
                        let url = coreW['videoId']
                        let title = coreW['title']
                        let channelTitle = coreW['channelTitle']
                        let tempHtml = `<div class="card" style="width: 500px; float: left; margin:30px 25px">
                                        <iframe width="500" height="300" src="https://www.youtube.com/embed/${url}" allowfullscreen></iframe>
                                        <div class="card-body videoContents">
                                        <h4 style="font-weight: bold; color: darkslateblue">${title}</h4>
                                        <h5>${channelTitle}</h5>
                                        </div></div>`
                        $('#video-box').append(tempHtml)
                    }
                }
            })
        }

        function loadNextCoreW() {
            pageNo += 1;
            showCoreW();
        }

        function loadPreviousCoreW() {
            pageNo -= 1;
            showCoreW();
        }

        // 복근운동 영상 가져오기
        function showAbsW() {
            $('#video-box').empty()
            $('#absWpage').show()
            $('#coreWpage').hide()
            $('#lowerbodyWpage').hide()
            $('#upperbodyWpage').hide()
            $('#hipWpage').hide()
            $.ajax({
                type: "GET",
                url: `/w/abs?page=${pageNo}`,
                data: {},
                success: function (response) {
                    let absWs = response['absW_list']
                    for (let i = 0; i < absWs.length; i++) {
                        let absW = absWs[i]
                        let url = absW['videoId']
                        let title = absW['title']
                        let channelTitle = absW['channelTitle']
                        let tempHtml = `<div class="card" style="width: 500px; float: left; margin:30px 25px">
                                        <iframe width="500" height="300" src="https://www.youtube.com/embed/${url}" allowfullscreen></iframe>
                                        <div class="card-body videoContents">
                                        <h4 style="font-weight: bold; color: darkslateblue">${title}</h4>
                                        <h5>${channelTitle}</h5>
                                        </div></div>`
                        $('#video-box').append(tempHtml)
                    }
                }
            })
        }

        function loadNextAbsW() {
            pageNo += 1;
            showAbsW();
        }

        function loadPreviousAbsW() {
            pageNo -= 1;
            showAbsW();
        }

        // 힙운동 영상 가져오기
        function showHipW() {
            $('#video-box').empty()
            $('#hipWpage').show()
            $('#absWpage').hide()
            $('#coreWpage').hide()
            $('#lowerbodyWpage').hide()
            $('#upperbodyWpage').hide()
            $.ajax({
                type: "GET",
                url: `/w/hip?page=${pageNo}`,
                data: {},
                success: function (response) {
                    let hipWs = response['hipW_list']
                    for (let i = 0; i < hipWs.length; i++) {
                        let hipW = hipWs[i]
                        let url = hipW['videoId']
                        let title = hipW['title']
                        let channelTitle = hipW['channelTitle']
                        let tempHtml = `<div class="card" style="width: 500px; float: left; margin:30px 25px">
                                        <iframe width="500" height="300" src="https://www.youtube.com/embed/${url}" allowfullscreen></iframe>
                                        <div class="card-body videoContents">
                                        <h4 style="font-weight: bold; color: darkslateblue">${title}</h4>
                                        <h5>${channelTitle}</h5>
                                        </div></div>`
                        $('#video-box').append(tempHtml)
                    }
                }
            })
        }

        function loadNextHipW() {
            pageNo += 1;
            showHipW();
        }

        function loadPreviousHipW() {
            pageNo -= 1;
            showHipW();
        }
    </script>
</head>

<!--//상단 사이트 소개-->
<div class="Wrap">
    <div class="introWrap">
        <h1 class="mb-0 title"><b>지금처럼 먹어서는 답이 없다</b></h1>
        <h1 class="mt-5"><b>집콕 운동이라도 하자 제발 플리즈</b> <br></h1>
        <h4 class="mt-3 mb-0"><b>카테고리별로 원하는 Youtube 운동 영상을 찾아줘요:D</b></h4>
    </div>
    <!--    // 중간 영어 문장 -->
    <div class="subtitleWrap">
        <p class="mt-5 mb-0"><b>Don't wish it were easier. Wish you were better!</b></p>
    </div>

    <div class="menuWrap">
        <!--    // 메인 categroy 3가지 보여주기 -->
        <div class="mb-5 border-info border-bottom">
            <button onclick="subStretch()" id="btn-subST-box"
                    class="btn btn-outline-info btn-lg p-4 mr-3 hover-text-primary menuBorder">
                스트레칭
            </button>
            <button onclick="subCardio()" id="btn-cardio-box"
                    class="btn btn-outline-info btn-lg p-4 mr-3 hover-text-primary menuBorder">
                유산소
            </button>
            <button onclick="subWeight()" id="btn-subW-box"
                    class="btn btn-outline-info btn-lg p-4 mr-3 hover-text-primary menuBorder">
                근력 운동
            </button>
        </div>
        <!--스트레칭 sub category 3가지 보여주기-->
        <div id="subST-box" class="card-columns" style="display:none">
            <div class="card">
                <img class="card-img-top"
                     src="https://media.self.com/photos/5a3be9ac3e056c42a43295e5/master/w_1600%2Cc_limit/2_8self.jpg"
                     alt="fullbodyST">
                <div class="card-body">
                    <h2 class="card-title"><b>전신</b> 스트레칭</h2>
                    <p class="card-text">Full Body Stretch </p>
                    <p>
                        <button onclick="showFullbodyST()" class="card-button">영상 보러가기</button>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                     src="https://media.self.com/photos/5a305bd6e1ef6d3e6b8801c1/master/w_1600%2Cc_limit/2_14self.jpg"
                     alt="upperbodyST">
                <div class="card-body">
                    <h2 class="card-title"><b>상체</b> 스트레칭</h2>
                    <p class="card-text">Upper Body Stretch </p>
                    <p>
                        <button onclick="showUpperbodyST()" class="card-button">영상 보러가기</button>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                     src="https://media.self.com/photos/5a305cab9bddcf5b219b2c5f/master/w_1600%2Cc_limit/2_4Self.jpg"
                     alt="lowerbodyST">
                <div class="card-body">
                    <h2 class="card-title"><b>하체</b> 스트레칭</h2>
                    <p class="card-text">Lower Body Stretch </p>
                    <p>
                        <button onclick="showLowerbodyST()" class="card-button">영상 보러가기</button>
                    </p>
                </div>
            </div>
        </div>
        <!--유산소운동 sub category 보여주기-->
        <div id="subCardio-box" class="card-columns" style="display:none">
            <div class="card">
                <img class="card-img-top"
                     src="https://media.self.com/photos/5fe10f60fa75923c77cd8177/4:3/w_1600%2Cc_limit/190916_SELF_0617.jpg"
                     alt="cardio">
                <div class="card-body">
                    <h2 class="card-title"><b>유산소 운동</b></h2>
                    <p class="card-text">Cardio Exercise </p>
                    <p>
                        <button onclick="showCardio()" class="card-button">영상 보러가기</button>
                    </p>
                </div>
            </div>
        </div>
        <!--근력운동 sub category 5가지 보여주기-->
        <div id="subW-box" class="card-columns" style="display:none">
            <div class="card">
                <img class="card-img-top"
                     src="https://media.self.com/photos/5fbc06d0da330c2d98edb652/master/w_1600%2Cc_limit/Erica_Push-up.gif"
                     alt="upperbodyW">
                <div class="card-body">
                    <h2 class="card-title"><b>상체</b>근력 운동</h2>
                    <p class="card-text">Upper Body Weight </p>
                    <p>
                        <button onclick="showUpperbodyW()" class="card-button">영상 보러가기</button>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                     src="https://media.self.com/photos/5db0c882d515840008005ca2/master/w_1600%2Cc_limit/nikki_bodyweight%2520squat.gif"
                     alt="lowerbodyW">
                <div class="card-body">
                    <h2 class="card-title"><b>하체</b>근력 운동</h2>
                    <p class="card-text">Lower Body Weight</p>
                    <p>
                        <button onclick="showLowerbodyW()" class="card-button">영상 보러가기</button>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                     src="https://media.self.com/photos/5da62ab35c250800081af9f2/master/w_1600%2Cc_limit/Corkscrew%2520-%2520Delise_c0026.gif"
                     alt="coreW">
                <div class="card-body">
                    <h2 class="card-title"><b>코어</b>운동</h2>
                    <p class="card-text">Core Exercise </p>
                    <p>
                        <button onclick="showCoreW()" class="card-button">영상 보러가기</button>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                     src="https://media.self.com/photos/5dfae13ee313510008a384b0/master/w_1600%2Cc_limit/BicycleCrunch-Delise-Use2.gif"
                     alt="absW">
                <div class="card-body">
                    <h2 class="card-title"><b>복근</b> 운동</h2>
                    <p class="card-text">Abs Exercise </p>
                    <p>
                        <button onclick="showAbsW()" class="card-button">영상 보러가기</button>
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                     src="https://media.self.com/photos/5dcdd1cfb65a4f00084a0dbd/master/w_1600%2Cc_limit/Grace_Banded%2520Glute%2520Bridge.gif"
                     alt="hipW">
                <div class="card-body">
                    <h2 class="card-title"><b>힙업</b> 운동</h2>
                    <p class="card-text">Hip-up exercise </p>
                    <p>
                        <button onclick="showHipW()" class="card-button">영상 보러가기</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="btn-group" id="pagination">-->
    <!--        <button type="button" class="btn btn-secondary" onclick="loadFullbodyST()" name="loadFullbodyST" value="1">1-->
    <!--        </button>-->
    <!--        <button type="button" class="btn btn-secondary" onclick="loadFullbodyST()" name="loadFullbodyST" value="2">2-->
    <!--        </button>-->
    <!--        <button type="button" class="btn btn-secondary" onclick="loadFullbodyST()" name="loadFullbodyST" value="3">3-->
    <!--        </button>-->
    <!--        <button type="button" class="btn btn-secondary" onclick="loadFullbodyST()" name="loadFullbodyST" value="4">4-->
    <!--        </button>-->
    <!--        <button type="button" class="btn btn-secondary" onclick="loadFullbodyST()" name="loadFullbodyST" value="5">5-->
    <!--        </button>-->
    <!--        <button type="button" class="btn btn-secondary" onclick="loadFullbodyST()" name="loadFullbodyST" value="6">6-->
    <!--        </button>-->
    <!--        <button type="button" class="btn btn-secondary" onclick="loadFullbodyST()" name="loadFullbodyST" value="7">7-->
    <!--        </button>-->
    <!--    </div>-->

    <!--비디오 페이지네이션-->
    <div class="btnWrap" style="text-align: center">
        <div class="btn-group btn-group-lg " id="fullbodySTpage">
            <button type="button" class="btn btn-secondary p-4" onclick="loadPreviousFullbodyST()">Previous</button>
            <button type="button" class="btn btn-primary p-4" onclick="loadNextFullbodyST()">Next</button>
        </div>
        <div class="btn-group btn-group-lg" id="upperbodySTpage">
            <button type="button" class="btn btn-secondary p-4" onclick="loadPreviousUpperbodyST()">Previous</button>
            <button type="button" class="btn btn-primary p-4" onclick="loadNextUpperbodyST()">Next</button>
        </div>
        <div class="btn-group btn-group-lg" id="lowerbodySTpage">
            <button type="button" class="btn btn-secondary p-4" onclick="loadPreviousLowerbodyST()">Previous</button>
            <button type="button" class="btn btn-primary p-4" onclick="loadNextLowerbodyST()">Next</button>
        </div>
        <div class="btn-group btn-group-lg" id="cardioPage">
            <button type="button" class="btn btn-secondary p-4" onclick="loadPreviousCardio()">Previous</button>
            <button type="button" class="btn btn-primary p-4" onclick="loadNextCardio()">Next</button>
        </div>
        <div class="btn-group btn-group-lg" id="upperbodyWpage">
            <button type="button" class="btn btn-secondary p-4" onclick="loadPreviousUpperbodyW()">Previous</button>
            <button type="button" class="btn btn-primary p-4" onclick="loadNextUpperbodyW()">Next</button>
        </div>
        <div class="btn-group btn-group-lg" id="lowerbodyWpage">
            <button type="button" class="btn btn-secondary p-4" onclick="loadPreviousLowerbodyW()">Previous</button>
            <button type="button" class="btn btn-primary p-4" onclick="loadNextLowerbodyW()">Next</button>
        </div>
        <div class="btn-group btn-group-lg" id="coreWpage">
            <button type="button" class="btn btn-secondary p-4" onclick="loadPreviousCoreW()">Previous</button>
            <button type="button" class="btn btn-primary p-4" onclick="loadNextCoreW()">Next</button>
        </div>
        <div class="btn-group btn-group-lg" id="absWpage">
            <button type="button" class="btn btn-secondary p-4" onclick="loadPreviousAbsW()">Previous</button>
            <button type="button" class="btn btn-primary p-4" onclick="loadNextAbsW()">Next</button>
        </div>
        <div class="btn-group btn-group-lg" id="hipWpage">
            <button type="button" class="btn btn-secondary p-4" onclick="loadPreviousHipW()">Previous</button>
            <button type="button" class="btn btn-primary p-4" onclick="loadNextHipW()">Next</button>
        </div>
    </div>
    <!--비디오 보여주기-->
    <div class="videoWrap" id="video-box">
        <div class="card" style="width:500px">
            <iframe width="500" height="300" src="https://www.youtube.com/embed/nOGT4lXlSHw" allowfullscreen></iframe>
            <div class="card-body">
                <h4>전신/하체비만/상체비만/골반교정/승모근/종아리알 스트레칭 이거 하나로 끝!</h4>
                <h5>Thankyou BUBU</h5>
            </div>
        </div>
    </div>
</div>
</body>
</html>

