<html lang="ko">
<head>
    <!-- Webpage Title -->
    <title> JUST WORK OUT </title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <style type="text/css">
        * {
            font-family: 'Noto Sans KR', sans-serif;
            background-color: whitesmoke;
        }

        .wrap {
            margin: 2em auto;
        }

    </style>

    <script>
    </script>
</head>

<body>
<div class="col-12 col-md-6 col-lg-4 show-on-scroll show-on-scroll-ready" data-show-duration="500"
     data-show-distance="20" data-show-delay="50"
     style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">
    <a class="card card-demo text-white">
        <span class="card-img">
            <img src="assets/images/demos/main-home-740-600.jpg" alt="">
        </span>
        <span class="card-body">
            <span class="card-title h5">스트레칭</span>
        </span>
    </a>
</div>
</body>

</html>

